<% layout("/layouts/boilerplate") %>

<div class="row mt-3">
    <h1 class="col-6 offset-3 ">Signup on StaySpere</h1>
    <div class="col-6 offset-3">
       
        <form action="/signup" method="post" class="needs-validation" novalidate>

            <div class="mb-3">
            <label for="username" class="form-label">username</label>
            <input name="username" id="username" placeholder="enter username" type="text" class="form-control" required>
            <div class="valid-feedback"> looks good</div>
            </div>

            <div class="mb-3">
            <label for="email" class="form-label">email</label>
            <input name="email" id="email" placeholder="email" type="email" class="form-control" required>
            </div>
            
            <div class="mb-3">
            <label for="password" class="form-label">password</label>
            <input name="password" id="email" placeholder="password" type="password" class="form-control" required>
            </div>

            <br> <br>
            <button class="btn btn-success add-btn">Signup</button>
            <br> <br>
            
        </div>
        </form>

    </div>
</div>